###############################################################################
# Site config
###############################################################################

# Leave empty if false.
PRELAUNCH="F"

NEXT_PUBLIC_BLOCK_EXPLORER="waterfall.constellationexplorer.xyz"

# 1 (mainnet) | 5 (Goerli) | 17 (Constellation)
NEXT_PUBLIC_CHAIN_ID=17

###############################################################################
# Chain config
###############################################################################

# Contract address of Curta
NEXT_PUBLIC_CURTA_ADDRESS=""
# Contract address of AuthorshipToken
NEXT_PUBLIC_AUTHORSHIP_TOKEN_ADDRESS=""
# Contract address of the base token renderer
NEXT_PUBLIC_BASE_TOKEN_RENDERER=""

###############################################################################
# Supabase
###############################################################################

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
# `${'mainnet' | 'goerli' | 'constellation'}_${'prod' | 'test'}`
NEXT_PUBLIC_SUPABASE_SCHEMA=""

###############################################################################
# Services
###############################################################################

# Alchemy key
NEXT_PUBLIC_ALCHEMY_ID=""