@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #007FFF;
  --verified-color: rgba(11, 165, 236, 1);
}

html,
body,
main {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    height: -webkit-fill-available;
  }
  .h-screen {
    height: -webkit-fill-available;
  }
}

.bg-grid {
  background-image: url('/grid.svg');
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
