@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div#__next,
div#__next > div,
div#__next > div > main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    height: -webkit-fill-available;
  }
  .h-screen {
    height: -webkit-fill-available;
  }
}

.bg-grid {
  background-image: url('/grid.svg');
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

pre code {
  overflow-x: auto;
  padding: 0 !important;

  -webkit-text-size-adjust: none;
}
